<template name="newPoll">
<div class="text-center">
    {{#if reactiveVarEquals 'creatingPoll' false}}
		<button class="btn btn-default" data-action="open-new-poll-input">Create New Poll</button>
    {{/if}}
    {{#momentum plugin='slide-height-fade'}}
		{{#if reactiveVarEquals 'creatingPoll' true}}
		{{> flashMessages}}
            <div class="new-poll-dialogue">
				<h4>Create New Poll</h4>
				<div class="row">
					<input id="newPollTitle" type="text" placeholder="Poll Title"/>
				</div>
				<div class="row">
					<textarea id="newPollDescription" placeholder="Description of what we're voting on"></textarea>
				</div>
				<div class="row create-poll-fields">
					{{#each option in optionsArray}}
						<div class="row">{{option}}</div>
					{{/each}}
					<div class="row">
						<input type="text" name="newPollOption" id="newPollOption" placeholder="Add Voting Options" />
						<button class="btn btn-default option-btn" data-action="add-an-option">Add</button>
					</div>
					<div class="row">
						<div class='input-group date'>
							<input 
								type="datetime-local" 
								name="dateTimePicker" 
								id="dateTimePicker" 
								pattern="[0-9]{2}:[0-9]{2}" 
								placeholder="When will the poll end">
						</div>
					</div>
				</div>
				
				<div class="row">
					<button class="btn btn-default" data-action="cancel-new-poll">Cancel</button>
					<button class="btn btn-success" data-action="create-new-poll">Create Poll</button>
				</div>
            </div>
        {{/if}}
    {{/momentum}}
</div>
</template>